# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor[data-grammar~="sql"]': [
    {
      'label': 'Quick Query run'
      'command': 'quick-query:run'
    }
  ],
  '.quick-query-browser': [
      {
        'label': 'Hide Browser'
        'command': 'quick-query:toggle-browser'
      }
      {
        'label': 'New connection..',
        'command': 'quick-query:new-connection'
      }
      {
        'label': 'Import Connections',
        'command': 'quick-query:import-connections'
      }
      {
        'label': 'Export Connections',
        'command': 'quick-query:export-connections'
      }

  ]
  '.quick-query-result tr.added td.selected:not(.default)': [
    {'label': 'Undo', 'command': 'quick-query:undo'}
  ]
  '.quick-query-result tr.removed td.selected': [
    {'label': 'Undo', 'command': 'quick-query:undo'}
  ]
  '.quick-query-result td.selected.status-modified': [
    {'label': 'Undo', 'command': 'quick-query:undo'}
  ]
  '.quick-query-result td.selected':[
    {'label': 'Copy', 'command': 'quick-query:copy'}
    {'label': 'Copy All', 'command': 'quick-query:copy-all'}
  ]
  '.quick-query-result .quick-query-grid[data-allow-edition] td.selected':[
    {'type': 'separator'}
    {'label': 'Set NULL', 'command': 'quick-query:null'}
    {'label': 'Delete record', 'command': 'quick-query:delete'}
  ]
  '.quick-query-result .quick-query-grid[data-allow-edition] .quick-query-grid-table-wrapper':[
    {'label': 'New record', 'command': 'quick-query:insert'}
  ]
  '.quick-query-result .quick-query-grid.changed':[
    {'label': 'Copy changes\' SQL', 'command': 'quick-query:copy-changes'}
    {'label': 'Apply changes', 'command': 'quick-query:apply-changes'}
  ]
  '.quick-query-result table':[
    {'type': 'separator'}
    {'label': 'Save as CSV', 'command': 'quick-query:save-csv'}
  ]
  '.quick-query-browser .qq-connection-item':[
      {'label': 'Create database', 'command': 'quick-query:create'}
      {'label': 'Force Reconnect', 'command': 'quick-query:reconnect'}
      {'label': 'Close connection', 'command': 'core:delete'}
  ]
  '.quick-query-browser .qq-database-item':[
      {'label': 'Set as default', 'command': 'quick-query:set-default'}
      {'type': 'separator'}
      {'label': 'Copy', 'command': 'quick-query:copy'}
      {'label': 'Drop database', 'command': 'quick-query:drop'}
      {'label': 'Import dump', 'command': 'quick-query:import-dump'}
  ]
  '.quick-query-browser .quick-query-connection[data-protocol=mysql] .qq-database-item':[
      {'label': 'Create table', 'command': 'quick-query:create'}
  ]
  '.quick-query-browser .quick-query-connection[data-protocol=postgres] .qq-database-item':[
      {'label': 'Create schema', 'command': 'quick-query:create'}
  ]
  '.quick-query-browser .qq-schema-item':[
      {'label': 'Copy', 'command': 'quick-query:copy'}
      {'label': 'Create table', 'command': 'quick-query:create'}
      {'label': 'Alter schema', 'command': 'quick-query:alter'}
      {'label': 'Drop schema', 'command': 'quick-query:drop'}
  ]
  '.quick-query-browser .qq-table-item':[
      {'label': 'Select Rows - limit 1000' , 'command': 'quick-query:select-1000' }
      {'type': 'separator'}
      {'label': 'Copy', 'command': 'quick-query:copy'}
      {'label': 'Alter table' , 'command': 'quick-query:alter' }
      {'label': 'Create column' , 'command': 'quick-query:create'}
      {'label': 'Drop table' , 'command': 'quick-query:drop' }
  ]
  '.quick-query-browser .qq-column-item':[
      {'label': 'Copy', 'command': 'quick-query:copy' }
      {'label': 'Alter column' , 'command': 'quick-query:alter' }
      {'label': 'Drop column', 'command': 'quick-query:drop'}
  ]
'menu': [
  {
    'label': 'View'
    'submenu': [
      { 'label': 'Toggle Database Browser', 'command': 'quick-query:toggle-browser' }
    ]
  }
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Quick query'
      'submenu': [
        {
          'label': 'Run'
          'command': 'quick-query:run'
        },
        {
          'label': 'New Editor'
          'command': 'quick-query:new-editor'
        },
        {
          'label': 'Toggle Browser'
          'command': 'quick-query:toggle-browser'
        },
        {
          'label': 'Dump Loader'
          'command': 'quick-query:open-dump-loader'
        },
        {
          'label': 'Find table to select rows'
          'command': 'quick-query:find-table-to-select'
        }
      ]
    ]
  }
]
