
'atom-workspace':
  'f5': 'quick-query:run'
  'alt-t': 'quick-query:new-editor'
  'ctrl-alt-t': 'quick-query:find-table-to-select'
  'ctrl-alt-c': 'quick-query:new-connection'
  'alt-\\': 'quick-query:toggle-browser'

 'ol#quick-query-connections':
  'delete': 'core:delete'
