@import "ui-variables";

/*
* Browser
*/

.quick-query-browser{

	&.no-buttons{
		#quick-query-connections{
			top: 0;
		}
		& > .btn-group{
			display: none;
		}
	}

	& > .btn-group{
		display: block;
	}
	ol#quick-query-connections{
		overflow: auto;
		contain: size;
		z-index: 2;
		-webkit-user-select: none;
		display: flex;
		flex-direction: column;
		margin: 0;
		padding-left: 5px;
		padding-right: 10px;
		height: auto;
		position: absolute;
		top: @component-line-height + 2;
		left: 0;
		bottom: 0;
		left: 0;
		right: 0;
		.selected:before{
			background: @tab-bar-background-color;
		}
		&:focus{
			.selected:before{
				background: @background-color-selected;
			}
		}
	}

	.list-tree li.list-nested-item.quick-query-database.default > .list-item.header{
		font-weight: bold;
	}

	.list-tree li.list-nested-item.quick-query-connection.default > .list-item.header{
		font-weight: bold;
	}

}
