@import "ui-variables";
@import "ui-mixins";
@import "git";


/*
* Modal
*/

.quick-query-modal-message{
	padding-right: 10px;
	span.icon-x{
		position: absolute;
		top: 4px;
		right: 0;
		color: @overlay-border-color;
	}
	span.icon-clippy{
		margin-left: 5px;
		cursor: pointer;
	}
}

atom-panel.modal:hover .quick-query-modal-message span.icon-clippy{
	animation: in 0.8s linear 0s;
	@keyframes in{ from{opacity: 0; }to{opacity: 1;}}
}

atom-panel.modal:not(:hover) .quick-query-modal-message span.icon-clippy{
	opacity: 0;
}

atom-panel.modal:not(:hover) .quick-query-modal-message.animated span.icon-clippy{
	animation: out 0.8s linear 0s;
	@keyframes out{ from{opacity: 1; }to{opacity: 0;}}
}

/*
* Editor
*/

#quick-query-default-is-null{
	border-width: 1px;
	border-style: solid;
	border-color: @input-border-color;
	height: @component-line-height;
	padding: @component-line-height / 5;
	border-radius: 2px;
	font-style: italic;
}

/*
* Browser
*/


ol#quick-query-connections{
	padding-bottom: @component-line-height;
}


.list-tree li.list-nested-item.quick-query-database.default > .list-item.header{
	font-weight: bold;
}

.list-tree li.list-nested-item.quick-query-connection.default > .list-item.header{
	font-weight: bold;
}

atom-panel.right{
	.quick-query-browser{
		height: inherit;
	}
}

/*
*	Query Result
*/

.quick-query-result{
	overflow: hidden;
	position: relative;

	.quick-query-result-resize-handler{
		height: 5px;
		cursor: ns-resize;
	}

	table.table.quick-query-result-numbers{
		overflow: hidden;
		margin-left: 0;
		position: absolute;
		width: auto;
		left: 0;
		top: 4px;

		thead{
			tr th{
				text-align: center;
				width: 100%;
				position: absolute;
				z-index: 2;
				background-color: @tool-panel-background-color;
			}
		}

		tbody{
			overflow: hidden;
			text-align: center;
			tr:nth-child(even){
				font-weight: bold;
				background-color: darken(@tool-panel-background-color, 8%);
			}
			tr:nth-child(odd){
				font-weight: bold;
				background-color: darken(@tool-panel-background-color, 16%);
			}
		}
	}

	.quick-query-result-table-wrapper{
		width: inherit;
		overflow: auto;
	}

	table.table.quick-query-result-table{
		thead{
			z-index: 1;
			background-color: @tool-panel-background-color;
			margin-top: 4px;
			position:absolute;
			top:0;
			margin-left: 1px; //HACK
		}
	}

	table.table{
			height: 94.5%;
			color: @text-color;
			margin-bottom: 0;

			tbody , thead{
				display: block;
			}
			tbody{
				height: 100%;
				overflow-y: hidden;
				overflow-x: hidden;

				tr:nth-child(even){
					background-color: @tool-panel-background-color;
				}
				tr:nth-child(odd){
					background-color: darken(@tool-panel-background-color, 3%);
				}
				tr.added{
					height: @component-line-height + @component-padding - 2px;
					td,td.null{
						.status-added();
					}
				}
				tr.removed{
					td{
						.status-removed();
					}
				}
				tr{
					width: 100%;
					height: @component-line-height + @component-padding - 2px;
					td.editing{
						padding: 2px 0 0 0;
					}
					td.null.status-modified{
						.status-modified();
					}
					td.null{
						color: mix( @text-color , @tool-panel-background-color, 20%);
						font-style:italic;
					}
					td{
						overflow:ellipsis;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
		}
	}
}

atom-panel.bottom{
	.quick-query-result {
		height: @component-line-height * 11;
	}
}

// Connect
.dialog.quick-query-connect{
	select{
		color: @text-color;
		background-color: @input-background-color;
		border-color: @pane-item-border-color;
		padding: 3px 12px;
		margin-bottom: 10px;
	}

	#quick-query-browse-file{
		width: 100%;
	}

	.qq-local-info{
		display: none;
	}
}
